:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all 1s linear;
  scroll-behavior: smooth;
}

input {
  color: white;
  outline: none;
  border: none;
  background: none !important;
  resize: none;
  font-size: clamp(0.6em, 1.5vw, 12px);
  transition: none;
  font-weight: 500;
  cursor: pointer;
}

body,
#root {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(320px, 100vw);
  height: 100vh;
  height: 100dvh;
  overscroll-behavior: none;
}

svg {
  stroke-width: 2;
  stroke: white;
  max-height: 100%;
  max-width: 100%;
  transition: none;
}

div > svg > *:not(:first-child) {
  stroke: white;
}

button,
textarea {
  border: none;
  outline: none;
  background: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #642020;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #878787;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #610505;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
